/*-------------Global Styling-------------*/

/*------x-------Global Styling------x-------*/

/*------------- Navigation Styling----------- */

/* Navbar-Brand Styling */

.navbar-brand {
	color: white !important;
	background: #4aaaa5;
	font-weight: bold;
	font-family: serif;
	font-size: 30px;
}
/*-------x----- Navigation Styling-----x------ */

/*--------------Main Content Styling------------*/

/*-------X-------Main Content Styling------X------*/

/*--------------Footer Styling------------------- */

/*-------x-----Footer Styling----------x-------- */
