/*-------------Global Styling-------------*/
body {
	height: auto;
	width: 100vw;
	background-image: url("../images/ignasi_pattern_s.png");
}

/*------x-------Global Styling------x-------*/
#contact,
#about-me {
	font-family: serif;
	padding-top: 20px;
	color: #4aaaa5;
	font-size: 60px;
	font-weight: bold;
}
#content-col {
	margin-bottom: 50px;
}

/*------------- Navigation Styling----------- */

/* Navbar-Brand Styling */

.navbar-brand {
	color: white !important;
	background: #4aaaa5;
	font-weight: bold;
	font-family: serif;
	font-size: 30px;
}
/*-------x----- Navigation Styling-----x------ */

/*--------------Main Content Styling------------*/

/* About Me page */

.pull-left {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

/* Contact Page */
.btn-primary {
	background-color: #4aaaa5;
	transition: background-color 0.5s ease;
	border: none;
	border-radius: 0%;
	margin-bottom: 35px;
}
.btn-primary:hover {
	background-color: #4aaa;
	border: solid 1px #4aaaa5;
	border-radius: 0%;
	margin-bottom: 35px;
}

/* Portfolio Styling */
.card-img-top {
	padding: 10px;
	padding-bottom: 35px;
}
.card {
	border: none;
}
/* Social Media Styling from font-awesome */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #f56505;
}
.social-network a.icoFacebook:hover {
	background-color: #3b5998;
}
.social-network a.icoTwitter:hover {
	background-color: #33ccff;
}
.social-network a.icoGoogle:hover {
	background-color: #bd3518;
}
.social-network a.icoVimeo:hover {
	background-color: #0590b8;
}
.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
	color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
	color: #44bcdd;
}

.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	background-color: #d3d3d3;
}
.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/*-------X-------Main Content Styling------X------*/

/*--------------Footer Styling------------------- */
.footer {
	position: fixed;
	bottom: 0;
	margin-top: 50px;
	border-top: solid 5px #4aaaa5;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
}

/*-------x-----Footer Styling----------x-------- */
