/*-------------Global Styling-------------*/

/*------x-------Global Styling------x-------*/
body {
	height: auto;
	width: 100vw;
	background-image: url("../images/ignasi_pattern_s.png");
}
/*------------- Navigation Styling----------- */

/* Navbar-Brand Styling */

.navbar-brand {
	color: white !important;
	background: #4aaaa5;
	font-weight: bold;
	font-family: serif;
	font-size: 30px;
}
/*-------x----- Navigation Styling-----x------ */

/*--------------Main Content Styling------------*/

/*-------X-------Main Content Styling------X------*/

/*--------------Footer Styling------------------- */

/*-------x-----Footer Styling----------x-------- */
